:root{
    --preto: #141414;
    --branco:white;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* base */
body{
    background: var(--preto);
    font-family: Arial,'Times New Roman', Times, serif;
    color:white;
}
/*menu*/
.logo{
    color: #76b900 ;
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav ul li a{
    text-decoration:none;
    list-style: none;
    color: var(--branco);
    margin-right: 10px;
    font-size: 18px;
}

header nav ul li{ 
    list-style: none; 
}

header nav ul{
    display: flex;
}

header nav li a:hover{
    background-color:#76b900 ;
    border-radius: 8px;
    color: var(--preto) ;
    padding: 15px ;
    transition: .4s ease all;
    width: 100%;
}

header .container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-right: 10px;
}

#bt-menu{
    display: none;
}

label[for="bt-menu"]{
    display: none; 
}

/*Destaques(carrosel com transição automática*/

main{
    max-width: 1850px;
    margin: auto;
}

.destaques-1{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capa-destiny.jpg);
    height: 400px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    margin: auto;
}

.sinopse{
    margin-top: 10px;
    max-width: 70%;
}

.titulo-destaque{
    font-size: 45px;
    margin-top: 13%;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
.botoes{
    position: absolute;
    margin-top: 20px;
}

 .botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    
    cursor: pointer;
    transition: .4s ease all;
}

.botao:hover{
    background-color:#76b900 ;
    color: var(--preto) ;
}

.botao i{
    margin-right: 8px;
}

.destaques-2{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capa-tomb.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    margin: auto;
}

.destaques-3{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capa-witcher.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    margin: auto;
}

.container{
    margin-left: 10px;
}

/* carrosel sem transição automática*/

h3{
    margin-left: 10px;
    margin-bottom: 5px;
}

.capa-carrosel{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel{
    margin-top: 20px;
}